<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spelling Bee Practice</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Spelling Bee Practice", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Spell Test", "Index", "Spell")</li>
                    <li>@Html.ActionLink("Statistics", "Index", "Stats")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }                    
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
    $(document).ready(function () {
        /*
            Check if input is correct on the SpellTest.cshtml page
        */
        $(".skriv").change(function () {
            var id = $(this).attr("id");
            var idNum = String(id).split("_");
            $(this).prop('readonly', true); //words not editable when tabbed past

            if ($(this).val().toLowerCase() === $("#theword_" + idNum[1]).val().toLowerCase()) {
                $(this).addClass("word-right"); //make border green

                var rights = $("#spellrights").val();
                rights++;
                $("#spellrights").val(rights);
            }
            else {
                $(this).addClass("word-wrong"); //make border red
                $(this).attr("title", $("#theword_" + idNum[1]).val());

                $(this).parent().parent().append("<td>" + $("#theword_" + idNum[1]).val() + "</td>");

                var wrongs = $("#spellwrongs").val();
                wrongs++;
                $("#spellwrongs").val(wrongs);
            }
        });

        /*
            Disable Enter key button on the SpellTest.cshtml page
        */
        $("#spellform").keypress(function (e) {
            //Enter key
            if (e.which == 13) {
                return false;
            }
        });

        /*
            Play audio for the focused input on the SpellTest.cshtml page
        */
        $("input.skriv").focus(function () {
            var id = $(this).attr('id');
            var index = id.indexOf('_');
            var number = id.substring(index + 1);
            $("#audio_" + number).get(0).play();
        });
        $("input.skriv").click(function () {
            var id = $(this).attr('id');
            var index = id.indexOf('_');
            var number = id.substring(index + 1);
            $("#audio_" + number).get(0).play();
        });
    });
    </script>


    
</body>
</html>
